body{
    width: 97.6vw;
    padding: 10px;
    overflow-x: hidden;
    
}

.principal{
    text-align: center;
    padding: 10px;
    color:black;
}

.font-style{
    font-size:3rem ;
    font-family: 'Rubik Doodle Shadow', system-ui;
    border-bottom: 2px solid powderblue;
    padding-bottom: 6px;
}
.font-style02{
    font-size:2rem ;
}
.div-calculos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.filhas {
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    wrapNumInput }
{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    border-radius: 10px;
    background-color: powderblue;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    opacity: 0.8;
    font-weight: 900;
    color: black;
}
.btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: blue;
    font-weight: 900;
}
